#main {
  padding: 10px;
}

.flexbox {
  display: flex !important;
}

.flexbox-horizontal-center {
  justify-content: center;
}

.center-text {
  text-align: center;
}

.flexitem-vertically-center {
  align-items: center;
}

.default-margin-bottom {
  margin-bottom: 10px;
}

.default-margin-right {
  margin-right: 10px;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.horizontal-divider {
  width: 800px;
  margin: 10px auto;
}

.small-margin-right {
  margin-right: 0.3em;
}

.area-icon-rounded {
  border-radius: 5px;
}

#areaSelect {
  max-width: 300px;
}

.faded-text {
  color: #808080;
}

td {
  vertical-align: middle;
}
