#main {
  padding: 10px;
}

.flexbox {
  display: flex !important;
}

.flexbox-horizontal-center {
  justify-content: center;
}

.center-text {
  text-align: center;
}

.flexitem-vertically-center {
  align-items: center;
}

.default-margin-bottom {
  margin-bottom: 10px;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.default-margin-right {
  margin-right: 10px;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.horizontalHalfWidth {
  width: 50%;
}

.small-margin-right {
  margin-right: 0.3em;
}

.resultTable {
  max-width: 1000px;
}

.flexbox > img {
  align-self: center;
}

.area-icon-rounded {
  border-radius: 5px;
}

#areaSelect {
  width: 300px;
}

.faded-text {
  color: #808080;
}